
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/Onrent4ucom-448910872277465/"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a target="_blank" href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/onrent4u/?hl=en"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a target="_blank" href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a target="_blank" href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>	
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p><u><a href="https://onrent4u.com">ONRENT4U</a></u></p>
        <p class="h6"><i class="fa fa-copyright"></i> All right Reversed By Onrent4u. Website Designed by <a class="ml-2" target="_blank">Swadhyay Innovations</a></p>
      </div> 
      <p style="display:none;">Best Home Tuitions in Udaipur / Home Tuitions for Science / Home Tuitions for Maths / Home Tuitions for Biology / Home Tuitions for Music / Home Tuitions for Chemistry / Home Tuitions for Physics / Home Tuitions for Commerce / Home Tuitions for Accounts / Home Tuitions for Sanskrit / Home Tuitions for Economics / Home Tuitions for EVS / Home Tuitions for Social Science </p> 
    </div>	
  </div>
</section>





<!-- Modal to filter properties -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Filter Properties</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <div class="row">
                        <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <select class="form-control" [(ngModel)]="type" (change)="onChange()">
                                            <option value="">Any</option>
                                            <option value="flat">flat</option>
                                            <option value="house">house</option>
                                            <option value="pg">PG</option>
                                    </select>
                                </div>
                            </div>

                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="bhk" (change)="onChange()">
                                    <option value="">Any</option>
                                    <option value="1">1 BHK</option>
                                    <option value="2">2 BHK</option>
                                    <option value="3">3 BHK</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="for" (change)="onChange()">
                                    <option value="">Any</option>
                                    <option value="girls">Girl</option>
                                    <option value="boys">Boys</option>
                                    <option value="family">Family</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="locality" (change)="onChange()">
                                    <option value="">Any</option>    
                                    <option value="shobhagpura">shobhagpura</option>
                                    <option value="fatehpura">fatehpura</option>
                                    <option value="sevasharam">sevashram</option>
                            </select>
                        </div>
                    </div>
                
            
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">See Results</button>
          
        </div>
      </div>
    </div>
  </div> -->