<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>DATE</th>
        <th>NAME</th>
        <th>CONTACT</th>
        <th>EXPERIENCE</th>
        <th>SUBJECTS</th>
        <th>PREFERANCE</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tutor of tutors">
        <td>{{tutor.date.seconds*1000|date}}</td>
        <td>{{tutor.name}}</td>
        <td>{{tutor.contact}}</td>
        <td>{{tutor.experience}}</td>
        <td>{{tutor.subjects}}</td>
        <td>{{tutor.preferance}}</td>
       
        <td>
          <button (click)="deleteEnquiry(tutor.id)" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>