<br><br>

<div id="testimonial" data-scroll-reveal="enter from the bottom after 0.2s">
  <div class="overlay">
   
      <div class="container text-center">
        <h1 class="jumbotron-heading">ONRENT4U TUTORS</h1>
        <h2 style="color:#bac2cc; font-size: 16px;">Onrent4u is a best home tutor providing company in udaipur for academic as well as non academic needs. We have a long list of well qualified, experienced tutors providing private home tutors in Udaipur.
         onrent4u tutors is the way to get best Home Tutors in Udaipur.We also provide tutors for yoga,dance,music,fitness etc in udaipur. 
        </h2>
        
        <p>
          <a href="#" data-toggle="modal" data-target="#freedemo" class="btn btn-primary my-2 mx-2">BOOK YOUR FREE DEMO NOW</a>
          
          <a href="#" data-toggle="modal" data-target="#applyastutor" class="btn btn-success my-2 mx-2">APPLY AS TUTOR</a>
        </p>
      </div>
   
  </div>
</div>

        

        <div class="" id="alert" style="position: fixed;bottom:0px; z-index:4">
          <div class="alert alert-success alert-dismissible fade show" role="alert" [hidden]="tutorservice.enquiryalert">
              <strong>Hello!</strong> Thank you for showing interest. Our Executive will contact you soon!!
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
  
        <div class="album py-5 bg-light" style="background-color:#F8F9FA">
          <div class="container">  
            <div class="row">
              
              <div class="col-md-4">
                    <div data-toggle="modal" data-target="#enquiryhometutor" class="card mb-4 box-shadow">
                      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="assets/images/tutor3.jpg" data-holder-rendered="true">
                      <div class="card-body">
                            <h3 class="text-center">Best Home Tutor in Udaipur</h3>
                          <div class="">
                            <button type="button" data-toggle="modal" data-target="#enquiryhometutor" class="btn btn-block btn-outline-success">Enquire</button>
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div data-toggle="modal" data-target="#enquiryschooltutor" class="card mb-4 box-shadow">
                      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="assets/images/tutor2.jpg" data-holder-rendered="true">
                      <div class="card-body">
                        <h3 class="text-center">School Tutor in Udaipur</h3>
                          <div class="">
                            <button type="button"  data-toggle="modal" data-target="#enquiryschooltutor" class="btn btn-block btn-outline-success">Enquire</button>
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                        <div data-toggle="modal" data-target="#enquirycoachingtutor" class="card mb-4 box-shadow">
                          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="assets/images/tutor3.jpg" data-holder-rendered="true">
                          <div class="card-body">
                                <h3 class="text-center">Coaching Tutor in Udaipur</h3>
                              <div class="">
                                <button type="button" data-toggle="modal" data-target="#enquirycoachingtutor" class="btn btn-block btn-outline-success">Enquire</button>
                              </div>
                          </div>
                        </div>
                    </div>
            </div>
          </div>
        </div>



        <div class="container-fluid text-center ">
          <br><br>
          <h1>How it Works ?</h1>
          <br><br><br>
          
              <div class="row">
                <div class="col-md-3"> <i class="material-icons md-128">perm_phone_msg</i> 
                  <h2><strong>Step-1</strong></h2>
                  <h5><strong>Enquire about best tutors in udaipur according to your needs</strong></h5>
                </div>
                <div class="col-md-3"> <i class="material-icons md-128">supervisor_account</i> 
                  <h2><strong>Step-2</strong></h2>
                  <h5><strong>Take a Free Demo Session</strong></h5>
                </div>
                <div class="col-md-3"> <i class="material-icons md-128">verified_user</i> 
                  <h2><strong>Step-3</strong></h2>
                  <h5><strong>confirm the Tutor</strong></h5>
                </div>
                <div class="col-md-3"> <i class="material-icons md-128">how_to_reg</i> 
                  <h2><strong>Step-4</strong></h2>
                  <h5><strong>Start Classes With our tutor in udaipur</strong></h5>
                </div>

              </div>
              <br>
              <p> Onrent4u Home Tutors finds you the best Home tutors for your educational needs in Udaipur</p>
              <br><br><br>
             </div> 

<div id="testimonial2" data-scroll-reveal="enter from the bottom after 0.2s">
  <div class="overlay">
    <div class="container text-center">            
      <h2 style="color:white;">All Type of home Tutor in Udaipur</h2>
      <p style="color:white;">We have variety of best tutors having good knowledge in different fields</p>
      <br><br><br>
      <div class="row text-center pad-bottom" data-scroll-reveal="enter from the bottom after 0.4s">
          <div class="col-md-3">
              <div class="row">
                <div class="col" [ngx-scroll-to]="'#contact'">
                  <i class="material-icons">library_music</i>
                  <h4><strong>Music</strong></h4> 
                </div>
                <div class="col" [ngx-scroll-to]="'#contact'">
                    <i class="material-icons ">accessibility</i>
                    <h4><strong> Yoga</strong></h4>    
                </div>
                  
              </div>               
          </div>
          <div class="col-md-3">
              <div class="row">
                  <div class="col" [ngx-scroll-to]="'#contact'">
                    <i class="material-icons">fitness_center</i>
                    <h4><strong>FITNESS</strong></h4> 
                  </div>
                  <div class="col" [ngx-scroll-to]="'#contact'">
                      <i class="material-icons ">school</i>
                      <h4><strong>SCHOOLS</strong></h4>    
                  </div>                    
              </div>                   
          </div>
          <div class="col-md-3">
              <div class="row">
                  <div class="col" [ngx-scroll-to]="'#contact'">
                      <i class="material-icons">insert_emoticon</i>
                      <h4><strong>PERSONALITY</strong></h4>
                  </div>
                  <div class="col" [ngx-scroll-to]="'#contact'">
                      <i class="material-icons ">fastfood</i>
                      <h4><strong>COOKING</strong></h4>     
                  </div>                    
              </div>                         
          </div>
          <div class="col-md-3">
              <div class="row">
                  <div class="col" [ngx-scroll-to]="'#contact'">
                      <i class="material-icons ">favorite</i>
                      <h4><strong>DANCE</strong></h4>    
                  </div>
                  <div class="col" [ngx-scroll-to]="'#contact'">
                      <i class="material-icons ">commute</i>
                      <h4><strong>DRIVING</strong></h4>    
                  </div>                    
              </div>                         
          </div>
      </div>
      

  </div>
<div>
</div>
  </div>
</div>





<app-about></app-about>
<app-contact #contact></app-contact>
<app-footer></app-footer>

<div class="modal fade" id="enquiryhometutor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ENQUIRE FOR HOME TUTOR IN UDAIPUR</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <div class="row">
                <div class="col form-group">
                  <input type="text" class="form-control" placeholder="Name" [(ngModel)]="enqhometut.name">
                </div>
                <div class="col form-group">
                  <input type="text" class="form-control" placeholder="Contact" [(ngModel)]="enqhometut.contact" required>
                </div>            
              </div> 
              <div class="row">
                  <div class="col form-group">
                    <input type="text" class="form-control" placeholder="Area eg. Fatehpura" [(ngModel)]="enqhometut.locality">
                  </div>
                  <div class="col form-group">
                    <input type="text" class="form-control" placeholder="class eg. 12th" [(ngModel)]="enqhometut.class">
                  </div>            
              </div>
              <div class="row">
                  <div class="col form-group">
                    <input type="text" class="form-control" placeholder="Subjects eg. Science,Maths or Music etc" [(ngModel)]="enqhometut.subjects">
                  </div>          
              </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addEnqHomeTut()"  data-dismiss="modal">Send Enquiry</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="enquiryschooltutor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ENQUIRE FOR SCHOOL TUTOR</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <div class="row">
                <div class="col form-group">
                  <input type="text" class="form-control" placeholder="Name" [(ngModel)]="enqschooltut.name">
                </div>
                <div class="col form-group">
                  <input type="text" class="form-control" placeholder="Contact" [(ngModel)]="enqschooltut.contact" required>
                </div>            
              </div> 
              <div class="row">
                  <div class="col form-group">
                    <input type="text" class="form-control" placeholder="Area eg. Fatehpura" [(ngModel)]="enqschooltut.locality">
                  </div>
                  <div class="col form-group">
                    <input type="text" class="form-control" placeholder="School Name" [(ngModel)]="enqschooltut.school">
                  </div>            
              </div>
              <div class="row">
                  <div class="col form-group">
                    <input type="text" class="form-control" placeholder="Subjects eg. Science,Maths or Music etc" [(ngModel)]="enqschooltut.subjects">
                  </div>          
              </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addEnqSchoolTut()"  data-dismiss="modal">Send Enquiry</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="enquirycoachingtutor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ENQUIRE FOR COACHING TUTOR</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <div class="row">
                <div class="col form-group">
                  <input type="text" class="form-control" placeholder="Name" [(ngModel)]="enqcoachingtut.name">
                </div>
                <div class="col form-group">
                  <input type="text" class="form-control" placeholder="Contact" [(ngModel)]="enqcoachingtut.contact" required>
                </div>            
              </div> 
              <div class="row">
                  <div class="col form-group">
                    <input type="text" class="form-control" placeholder="Area eg. Fatehpura" [(ngModel)]="enqcoachingtut.locality">
                  </div>
                  <div class="col form-group">
                    <input type="text" class="form-control" placeholder="coaching Name" [(ngModel)]="enqcoachingtut.institute">
                  </div>            
              </div>
              <div class="row">
                  <div class="col form-group">
                    <input type="text" class="form-control" placeholder="Subjects eg. Science,Maths or Music etc" [(ngModel)]="enqcoachingtut.subjects">
                  </div>          
              </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addEnqCoachingTut()"  data-dismiss="modal">Send Enquiry</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="applyastutor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">APPLY AS A TUTOR</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <div class="row">
                <div class="col form-group">
                  <input type="text" class="form-control" placeholder="Name" [(ngModel)]="tutor.name">
                </div>
                <div class="col form-group">
                  <input type="text" class="form-control" placeholder="Contact" [(ngModel)]="tutor.contact" required>
                </div>            
              </div> 
              <div class="row">
                  <div class="col form-group">
                    <input type="text" class="form-control" placeholder="Experience eg. 3 years" [(ngModel)]="tutor.experience">
                  </div>
                  <div class="col form-group">
                    <input type="text" class="form-control" placeholder="Preferance eg. home tutor" [(ngModel)]="tutor.preferance">
                  </div>            
              </div>
              <div class="row">
                  <div class="col form-group">
                    <input type="text" class="form-control" placeholder="Subjects eg. Science,Maths or Music etc" [(ngModel)]="tutor.subjects">
                  </div>          
              </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addTutor()"  data-dismiss="modal">Send</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="freedemo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Apply for Free Demo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <div class="row">
                <div class="col form-group">
                  <input type="text" class="form-control" placeholder="Name" [(ngModel)]="demo.name">
                </div>
                <div class="col form-group">
                  <input type="text" class="form-control" placeholder="Contact" [(ngModel)]="demo.contact" required>
                </div>            
              </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addDemo()" data-dismiss="modal">Send</button>
        </div>
      </div>
    </div>
  </div>

  <div  style="position: fixed;bottom:0px; z-index:4">
      <div class="alert alert-danger alert-dismissible fade show" role="alert" [hidden]="formerror">
          <strong>Hello!</strong> Please Fill All the Fields Properly
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </div>
            