<nav id="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#1e466f;opacity: 1;">
  <a style="color:#ffffff" class="navbar-brand" routerLink="/"></a>
  <a style="color:#ffffff" class="navbar-brand" routerLink="/"><img src="assets/images/logo.png" alt="" width="40px"> ONRENT<i style="color:#3fc6ef;font-size: 25px;">4</i>U </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button style="background:none;border:none" class="nav-link"  data-toggle="collapse" data-target="#navbarColor02" (click)="changeroute('tutors')" routerLink="tutors">TUTORS</button>
      </li>
      <li class="nav-item">
        <button style="background:none;border:none" class="nav-link"  data-toggle="collapse" data-target="#navbarColor02" routerLink="houses">HOUSES</button>
      </li>
    </ul>
    <button style="background-color:#f26631eb;border-color:#f26631eb" class="btn btn-success navbar-btn"><i class="material-icons" style="font-size:24px;" aria-hidden="true">call</i>  9588062419</button>
  </div>
</nav>