<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>DATE</th>
        <th>NAME</th>
        <th>CONTACT</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let demo of demos">
        <td>{{demo.date.seconds*1000|date}}</td>        
        <td>{{demo.name}}</td>
        <td>{{demo.contact}}</td>
        <td>
          <button (click)="deldemo(demo.id)" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

