<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>NAME</th>
        <th>CONTACT</th>
        <th>MESSAGE</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{contact.name}}</td>
        <td>{{contact.contact}}</td>
        <td>{{contact.message}}</td>
        <td>
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
