<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>DATE</th>
          <th>Area</th>
          <th>Rent</th>
          <th>Type</th>
          <th>SIZE</th>
          <th>For</th>
          <th>Name</th>
          <th>Contact</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prop of enquiries">
          <td>{{prop.date.seconds*1000|date}}</td>
          <td>{{prop.locality}}</td>
          <td>{{prop.rent}}</td>
          <td>{{prop.type}}</td>
          <td>{{prop.bhk}} BHK</td>
          <td>{{prop.for}}</td>
          <td>{{prop.name}}</td>
          <td>{{prop.contact}}</td>
          <td>
            <button (click)="delEnquiry(prop.id)" value="{{prop.id}}" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>